.carousel-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: var(--secondaryColorDark75);
    margin-top: 25px;
    margin-bottom: 25px;
}

.carousel-container h3 {
    color: var(--highLight);
    left: 50px;
    margin: 0;
    position: absolute;
    z-index: 3;
}

.carousel-card-container{
    width: 1400px;
    overflow: hidden;
}

.arrow-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    width: 50px;
    text-align: center;
    margin-right: 10px;
}
.arrow-left :hover {
    background: var(--secondaryColorDark75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    width: 50px;
    text-align: center;
    border-radius: 4px;
}

.arrow-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    width: 50px;
    text-align: center;
    margin-left: 10px;
}

.arrow-right :hover {
    background: var(--secondaryColorDark75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    width: 50px;
    text-align: center;
    border-radius: 4px;
}

.carousel {
    height: 380px;
    display: flex;
    overflow-x: visible;
    width: 100%;
    max-width: 1200px;
    align-items: center;
}

.carousel::-webkit-scrollbar{
    display: none;
}
