footer {
    background: linear-gradient(to top, var(--primaryColorLight2), var(--black)); 
    color: var(--white);
    display: block;
    text-align: center;
    justify-content:end;
    align-items: center;
    padding: 0px;
    height: fit-content;
    font-size: small;
    bottom: 0;
}

footer p {
    color: var(--secondaryColorLight2);
}

.copyright { 
    width: 100%;
    text-align: left;
}

footer h1{
    color: var(--highLight);
    font-size: x-large;
    margin-bottom: 0px;
}

.incorporations img{
    width:125px;
    border-radius: 5px;
}

.selected img{
    width:120px;
    border-radius: 5px;
}

footer img{
    margin-right: 5px;
}

li{
    list-style-type: none;
    padding-bottom: 8px;
}

.cont-foot{
    width: 25%;
    height: 50%;
    display: block;
}

.separador-foot{
    display: flex;
    justify-content: space-evenly;
    margin-right: 45px;
}





.contenido-footer{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.contenido-footer img{
    width: 30px;
}

.division-foot{
    justify-content: center;
    width: 25%;
}

.seccion-foot{
    border: 1px solid red;
}

.seccion-foot1{
    height: fit-content;
}
.patrocinadores img{
    width: 130px;
}
.seccion-foot2{
    height: fit-content;
}

