body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)), url(../media/icons/MPKLogo.webp);
    background-size: contain;
}

.game-title h1{
    display: flex;
    justify-content: center;
    font-family: 'Nunito Sans', sans-serif;
    color: var(--highLight);
}

.canvas-conteiner {
    display: flex;
    justify-content: center;
}

.canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primaryColorDark1);
    width: 700px;
    height: 600px;  
}

.canvas-information {
    height: 450px;
    margin: 25px;
    margin-top: 40px;
    margin-bottom: 100px;
}

.variated {
    background-color: rgba(25, 25, 25, 0.75);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    padding-bottom: 20px;
}

.variated-cont {
    width: 33%;
    height: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 30px;
    margin-top: 20px;
}

.variated-cont-esp {
    border-right: 1px solid var(--secondaryColor);
    border-left: 1px solid var(--secondaryColor);
}

.description {
    margin-top: 10px;
    height: 200px;
    background-color: rgba(25, 25, 25, 0.75);
    text-align: left;
    padding: 40px;
    border-radius: 10px;
}

.coments {
    background-color: rgba(25, 25, 25, 0.75);
    margin: 25px;
    margin-top: 40px;
    border-radius: 10px;    
}

.coment {
    display: flex;
    justify-content: left;
    align-items:center;
    text-align: left;
    padding: 10px;
    padding-left: 25px;
}

.coment-user {
    margin-left: 10px;
    align-items: start;
}

.add-coment {
    display: flex;
    padding-left: 10px;
    justify-content: left;
    align-items: center;
    text-align: left;
}

.add {
    border-bottom: 1px solid var(--secondaryColorLight1);
    margin: 10px;
    width: 100%;
}

.coment-time {
    align-items: start;
    padding-bottom: 30px;
}

.coment-time h5 {
    color: var(--secondaryColorLight1)
}

.coment-buttons {
    display: flex;
    padding-right: 20px;
}

.coment-buttons button{
    width: 100px;
    height: 30px;
    font-size: 12px;
    font-weight: normal;
}
