
.super-card {
    max-width: 350px;
    height: 350px;
    flex: 0 0 70%;
    margin: 10px;
    scroll-snap-align: start;
    background-color:var(--secondaryColor);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    border-radius: 3%;
    overflow: hidden;
}

.super-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
    z-index: 1;
    transition: transform 0.5s ease;
}

.super-card:hover img {
    transform: scale(1.1);
}

.super-card-details {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    padding: 10px;
    background: var(--secondaryColorDark75);
    z-index: 2;
    display: flexbox;
    justify-content: space-between;
    align-items: center;
}

.super-card h3 {
    padding-bottom: 40px;
    margin: 0;
}

.super-card-price {
    padding-right: 200px;
    display: inline;
    font-weight: bold;
    color: var(--white);
}

@media (max-width: 800px) {

    .super-card {
        max-width: 400px;
        height: 400px;
        flex: 0 0 70%;
        margin: 10px;
        scroll-snap-align: start;
        background-color:var(--secondaryColor);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        text-align: center;
        position: relative;
        border-radius: 3%;
    }

    .super-card .button-secondary{
        width: 100%;
        margin-bottom: 24px;
    }

    .super-card-details{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .super-card-price{
        display: flex;
        padding-right: 0;
        align-items: center;
    }

    .super-carousel-card-container{
        overflow: hidden;
        height: 650px;
    }

}