.scroll-section {
    width: 1280px;
    height: 7700px;
    position: relative;
}

.fixed-container {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 600px;
    padding: 100px;
    background: white;
}

.left-side {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 23px
}

.image-container {
    position: relative;
    width: 291px;
    height: 436px;
    left: 142px;
    top: -80px;
}

.text-container {
    width: 467px;
    height: 700px;
    position: absolute;
    left: 715px;
    top: 229px;
    overflow: hidden;
}

.text-container h3 {
    margin-bottom: 10px;
    margin-top: 157px;
}

.text-container h4 {
    line-height: 94.5%;
}

.scroll-image {
    position: absolute;
    top: 87px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .7s ease-in-out;
    transition-delay: 500ms;
}

.image-container img {
    width: 100%;
    height: 100%;
}

.scroll-image.after {
    left: 65%;
    opacity: 0;
    visibility: visible;
}

.scroll-image.active {
    left: 0;
    opacity: 1;
    visibility: visible;
    transform: translate(0,0);
}

.scroll-image.before {
    left: -150%;
    opacity: 0;
    visibility: visible;
}

.scroll-text {
    position: absolute;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 1.2s ease-in-out;
}

.scroll-text.after {
    top: -150%;
    opacity: 0;
    visibility: visible;
}

.scroll-text.active {
    top: 0;
    opacity: 1;
    visibility: visible;
    transform: translate(0,0);
}

.scroll-text.before {
    top: 150%;
    opacity: 0;
    visibility: visible;
}