
.section-2 .background-figures {
    background-image: url("../assets/images/background/middleSection/figures.png");
    width: 1280px;
    height: 729px;
    z-index: 1;
    left: 0;
    top: 2475px;
}

.section-2 .figures-hover {
    position: absolute;
    top: 2475px;
    left: 0;
    width: 1280px;
    height: 729px;
    z-index: 2;
}

.figures-hover .f1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 375px;
    background-color: rgba(255, 0, 0, 0);
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
    overflow: hidden;
}

.figures-hover .f1 img {
    width: 250px;
    margin-top: 162px;
    transition: transform 0.5s ease;
}

.figures-hover .f1 img:hover {
    transform: scale(1.1);
}

.f1:hover {
    box-shadow: 0 0 15px 10px rgba(255, 0, 0);
    background-color: 0 0 15px 10px rgba(255, 0, 0, 0.5);
}

.figures-hover .f2 {
    position: absolute;
    top: 0;
    left: 280px;
    width: 234px;
    height: 375px;
    background-color: rgba(0, 0, 0, 0);
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
    overflow: hidden;
}

.figures-hover .f2 img {
    width: 230px;
    margin-top: 125px;
    transition: transform 0.5s ease;
}

.figures-hover .f2 img:hover {
    transform: scale(1.1);
}

.f2:hover {
    background-color: rgb(255, 143, 20, 0.5);
    box-shadow: 0 0 15px 10px rgb(255, 143, 20);
}

.figures-hover .f3 {
    position: absolute;
    top: 0;
    left: 543px;
    width: 237px;
    height: 375px;
    background-color: rgba(0, 0, 0, 0);
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
    overflow: hidden;
}

.figures-hover .f3 img {
    width: 215px;
    margin-top: 70px;
    margin-left: 2px;
    transition: transform 0.5s ease;
}

.figures-hover .f3 img:hover {
    transform: scale(1.1);
}

.f3:hover {
    box-shadow: 0 0 15px 10px rgb(255, 195, 3);
    background-color: rgba(255, 195, 3, 0.5);
}

.figures-hover .f4 {
    position: absolute;
    top: 0;
    left: 811px;
    width: 226px;
    height: 375px;
    background-color: rgba(0, 0, 0, 0);
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
    overflow: hidden;
}

.figures-hover .f4 img {
    width: 222px;
    margin-top: 148px;
    margin-left: 2px;
    transition: transform 0.5s ease;
}

.figures-hover .f4 img:hover {
    transform: scale(1.1);
}

.f4:hover {
    box-shadow: 0 0 15px 10px rgb(26, 255, 0);
    background-color: rgb(26, 255, 0, 0.5);
}

.figures-hover .f5 {
    position: absolute;
    top: 0;
    left: 1067px;
    width: 212px;
    height: 375px;
    background-color: rgba(0, 0, 0, 0);
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
    overflow: hidden;
}

.figures-hover .f5 img {
    width: 215px;
    margin-top: 59px;
    transition: transform 0.5s ease;
}

.figures-hover .f5 img:hover {
    transform: scale(1.1);
}

.f5:hover {
    box-shadow: 0 0 15px 10px rgb(0, 157, 255);
    background-color: rgb(0, 157, 255, 0.5);
}

.figures-hover .f6 {
    position: absolute;
    top: 405px;
    left: 0;
    width: 250px;
    height: 323px;
    background-color: rgba(0, 0, 0, 0);
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
    overflow: hidden;
}

.figures-hover .f6 img {
    width: 250px;
    margin-top: 59px;
    transition: transform 0.5s ease;
}

.figures-hover .f6 img:hover {
    transform: scale(1.1);
}

.f6:hover {
    box-shadow: 0 0 15px 10px rgba(87, 32, 161);
    background-color: rgba(87, 32, 161, 0.5);
}

.figures-hover .f7 {
    position: absolute;
    top: 403px;
    left: 279px;
    width: 236px;
    height: 326px;
    background-color: rgba(0, 0, 0, 0);
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
    overflow: hidden;
}

.figures-hover .f7 img {
    width: 143px;
    margin-top: 56px;
    margin-left: 35px;
    transition: transform 0.5s ease;
}

.figures-hover .f7 img:hover {
    transform: scale(1.1);
}

.f7:hover {
    box-shadow: 0 0 15px 10px rgb(255, 255, 255);
    background-color: rgb(255, 255, 255, 0.5);
}

.figures-hover .f8 {
    position: absolute;
    top: 405px;
    left: 544px;
    width: 237px;
    height: 323px;
    background-color: rgba(0, 0, 0, 0);
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
    overflow: hidden;
}

.figures-hover .f8 img {
    width: 238px;
    margin-top: 52px;
    margin-left: -0px;
    transition: transform 0.5s ease;
}

.figures-hover .f8 img:hover {
    transform: scale(1.1);
}

.f8:hover {
    box-shadow: 0 0 15px 10px rgb(255, 0, 251);
    background-color: rgb(255, 0, 251, 0.5);
}

.figures-hover .f9 {
    position: absolute;
    top: 405px;
    left: 811px;
    width: 226px;
    height: 323px;
    background-color: rgba(0, 0, 0, 0);
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
    overflow: hidden;
}

.figures-hover .f9 img {
    width: 225px;
    margin-top: 65px;
    margin-left: -0px;
    transition: transform 0.5s ease;
}

.figures-hover .f9 img:hover {
    transform: scale(1.1);
}

.f9:hover {
    box-shadow: 0 0 15px 10px rgba(37, 37, 37);
    background-color: rgba(37, 37, 37, 0.5)
}

.figures-hover .f10 {
    position: absolute;
    top: 405px;
    left: 1067px;
    width: 212px;
    height: 323px;
    background-color: rgba(0, 0, 0, 0);
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
    overflow: hidden;
}

.figures-hover .f10 img {
    width: 215px;
    margin-top: 50px;
    margin-left: -0px;
    transition: transform 0.5s ease;
}

.figures-hover .f10 img:hover {
    transform: scale(1.1);
}

.f10:hover {
    box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.9);
    background-color: rgba(0, 0, 0, 0.5);
}