footer {
    position: relative;
    background-color: var(--footer);
    width: 1280px;
    height: 595px;
    color: var(--fontColorWhite);
}

.sponsors-container {
    background-color: var(--footerBrands);
    width: 1280px;
    height: 80px;
    text-align: center;
    z-index: 2;
}

.sponsors {
    background-image: url("../assets/images/background/lastSection/footerSponsor.png");
    z-index: 3;
    width: 1080px;
    height: 75px;
    left: 100px;
    margin-top: 5px;
}

.footerInfo {
    position: absolute;
    width: 820px;
    top: 115px;
    left: 100px;
}

.footerInfo h4 {
    line-height: 94.5%;
    letter-spacing: 0.11em;
}

.footerInfo span {
    text-decoration: underline;
    vertical-align: top;
}

.redes {
    background-image: url('../assets/images/background/lastSection/networks.png');
    height: 41px;
    width: 212px;
    top: 390px;
}