.section-3 {
    width: 1280px;
    height: 1570px;
    color: var(--fontColorWhite);
}

.section-3 .content {
    height: 100%;
}

.section-3 .background-gradient {
    background-image: url("../assets/images/background/lastSection/backgroundGradient.png");
    width: 1280px;
    height: 1296px;
    z-index: 0;
    left: 0;
    top: 274px;
}

.section-3 .background-hills {
    background-image: url("../assets/images/background/lastSection/backgroundHilss.png");
    width: 1280px;
    height: 389px;
    z-index: 1;
    left: 0;
    bottom: 0;
}

.section-3 .teenSeal {
    background-image: url("../assets/images/background/lastSection/teenSeal.png");
    width: 231px;
    height: 145px;
    z-index: 10;
    left: 100px;
    top: 649px;
}

.section-3 .cloud-left {
    background-image: url("../assets/images/background/lastSection/cloud1.png");
    width: 386px;
    height: 180px;
    z-index: 2;
    left: -55px;
    top: 819px;
    animation: scroll-clouds-left 15s linear infinite;
    position: absolute;
    animation-duration: 20s;
}

.section-3 .cloud-right-1 {
    background-image: url("../assets/images/background/lastSection/cloud2.png");
    width: 265px;
    height: 124px;
    z-index: 2;
    left: 793px;
    top: 517px;
    animation: scroll-clouds-left 30s linear infinite;
    position: absolute;
    animation-duration: 30s;
    }

.section-3 .cloud-right-2 {
    background-image: url("../assets/images/background/lastSection/cloud1.png");
    width: 386px;
    height: 180px;
    z-index: 2;
    left: 962px;
    top: 560px;
    animation: scroll-clouds-right 30s linear infinite;
    position: absolute;
    animation-duration: 15s;
}

.section-3 .figure-2 {
    width: 480px;
    height: 480px;
    z-index: 4;
    left: 65px;
    top: 1048px;
}

.section-3 .figure-3 {
    width: 509px;
    height: 509px;
    z-index: 4;
    left: 407px;
    top: 1040px;
}

.section-3 .figure-7 {
    width: 620px;
    height: 997px;
    z-index: 4;
    left: 766px;
    top: 670px;
}

.section-3 .figure-7 img{
    width: 520px;
    height: auto;
}

@keyframes scroll-clouds-left {
    0% {
      transform: translateX(-1300px);
    }
    100%{
      transform: translateX(1300px);
    }
}

@keyframes scroll-clouds-right {
    0% {
      transform: translateX(-1300px);
    }
    100% {
      transform: translateX(1300px);
    }
}

.mini-form {
    position: relative;
}

.form-title {
    width: 816px;
    height: 171px;
    margin-top: 190px;
    margin-bottom: 36px;
}

.form-title h1 {
    line-height: 94.5%;
}

.form {
    display: flex;
    width: 780px;
    height: fit-content;
    padding: 0;
    box-shadow: 4px 5px var(--shadowColorBlue);
    border-radius: 9999px;
}

.form input {
    width: 467px;
    margin: 0;
    flex: 1;
    outline: none;
    padding: 10px 40px;
    border-radius: 50px 0 0 50px;
    border: 9px solid var(--fontColorWhite);
    border-right: none;
    color: rgba(0, 0, 0, 0.39);
    background-color: #ECECEC;
    font-size: 20px;
    letter-spacing: 0.11em;
}

.form button {
    width: 218px;
    height: 100px;
    background-color: var(--buttonColorGreen);
    color: var(--fontColorWhite);
    padding: 10px 20px;
    border: 9px solid var(--fontColorWhite);
    border-radius: 0 50px 50px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form button:hover {
background-color: var(--burgerButtonColorOrange);
}

.teenSealInfo {
width: 578px;
height: 95px;
margin-top: 46px;
line-height: 18.9px;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}

.underline {
text-decoration: underline;
text-decoration-thickness: 0.5px;
text-underline-offset: 3px;
}

a {
text-decoration: none;
color: inherit;
}


.footer-sprites {
    display: flex;
    justify-content: space-evenly;

}

.footer-sprites2 {
    display: flex;
    justify-content: flex-start;

}

.sprite {
    width: 200px;
    height: 200px;
    background-size: 800%; /* Dependiendo de cuántos fotogramas tengas */
    animation: animate-sprite 1s steps(8) infinite; /* Cambia steps(10) según tus fotogramas */
}

#sprite1 {
    background-image: url('../assets/images/sprite/sun-spritesheet-small.13d0509.png');
}

#sprite2 {
    background-image: url('../assets/images/sprite/birds.png');
    width: 100px;
    height: 100px;
    background-size: 500%;
    animation: animate-sprite2 1s steps(5) infinite;
}

#sprite3 {
    background-image: url(../assets/images/sprite/estrella-5-frames-Photoroom.png);
    width: 100px;
    height: 100px;
    animation: animate-sprite2 1s steps(5) infinite;
}



@keyframes animate-sprite {
    from{
        background-position: 0;
    }
    to{
        background-position: -800%;
    }
}

@keyframes animate-sprite2 {
    from{
        background-position: 0;
    }
    to{
        background-position: -500%;
    }
}

