.section-3 {
    width: 1280px;
    height: 1570px;
    color: var(--fontColorWhite);
}

.section-3 .background-gradient {
    background-image: url("../assets/images/background/lastSection/backgroundGradient.png");
    width: 1280px;
    height: 1296px;
    z-index: 1;
    left: 0;
    top: 274px;
}

.section-3 .content {
    height: 100%;
}