
/* Estilos del loader */
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 1280px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999;
    overflow: hidden; /* Para asegurar que los números no salgan de la pantalla */
    background-size:contain;
    background-position: center;
}

.number {
    color: transparent;
    font-family: "Lato", sans-serif;
}

/* Estilos para los números cayendo */
.falling-number {
    font-size: 8rem;
    font-weight: 700;
    position: absolute;
    top: -50px;
    opacity: 0;
    animation: fall 2s linear forwards;
}

/* Animación de caída */
@keyframes fall {
    0% {
        transform: translateY(0);
        opacity: 0.4;
    }
    100% {
        transform: translateY(100vh);
        opacity: 0;
    }
}

/* Para ocultar el loader después de cargar */
body.loaded #loader {
    display: none;
}

#loaderCircle {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primaryColor60);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spinner {
    border: 8px solid rgba(0, 0, 0, 0.4);
    border-top: 8px solid var(--white);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    margin-bottom: 20px;
}

.loadingPercentage {
    font-size: 24px;
    color: var(--black);
    font-weight: bold;
    margin-top: 10px;
    z-index: 10000;
    font-family: "Lato", serif;
    font-weight: 550;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.floating-image {
    position: absolute;
    width: 200px; /* Tamaño de las imágenes */
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    animation: fallImages 2.5s infinite linear;
    opacity: 0; /* Inicialmente invisibles */
    visibility: hidden; /* No visibles hasta que comience la animación */
}

/* Animación para que las imágenes caigan desde la parte superior */
@keyframes fallImages {
    0% {
        transform: translateY(-100vh); /* Comienza fuera de la pantalla arriba */
        opacity: 0.9; /* Se hace visible al inicio */
        visibility: visible; /* Asegura que la imagen se vuelva visible */
    }
    100% {
        transform: translateY(100vh); /* Termina en la parte inferior de la pantalla */
        opacity: 0; /* Desaparece mientras cae */
    }
}

