.navbar {
    position: fixed;
    width: 1280px;
    padding-top: 15px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: all 0.3s ease;
}

.navbar.scrolled {
    width: 1280px;
    background: linear-gradient(to bottom, var(--nav-color),var(--nav-color), rgb(0 0 0 / 0%));
    backdrop-filter: blur(1px);
    padding: 0.5rem 0;
}

.navbar-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.nav-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-logo img {
    height: 86px;
    width: 150px;
    opacity: 0;
    transform: scale(3);
    transition: all 0.3s ease;
}

.nav-logo.visible img {
    top: -13px;
    opacity: 1;
    transform: scale(1);
}

.logo {
    background-image: url('../assets/images/logo.png');
    width: 560px;
    height: 320px;
    z-index: 6;
    top: 55px;
    left: 360px;
    transition: all 1s ease;
    will-change: transform, opacity;
}

.logo.scrolled {
    position: fixed;
    top: 20px;
    transform: translate(-0%, -50%) scale(0.15);
    opacity: 0;
}

.hamburger {
    margin-left: 82px;
    width: 38px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.5s ease;
}

.hamburger span {
    display: block;
    width: 34px;
    height: 4px;
    background-color: var(--burgerButtonColorOrange);
    border: var(--white) 4px solid;
    border-radius: 25px;
    box-shadow: 5px 5px var(--shadowColorBlue);
    transition: all 0.3s ease;
}

.hamburger.cross span {
    box-shadow: none; /* Elimina la sombra */
}

.hamburger.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    position: absolute;
    background-color: red;
    top: 0;
}

.hamburger.open span:nth-child(2) {
    opacity: 0;
}

.hamburger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(-5px, 5px);
    position: absolute;
    background-color: red;
    top: 0;
}

.nav-menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: -300px; /* Inicialmente fuera de la pantalla */
    transition: left 0.5s ease;
    opacity: 0;
    background-color: var(--burgerButtonColorOrange); 
    border-radius: 25px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    margin: 0px;
}

.nav-menu li {
    margin: 15px 0;
    opacity: 0;
    padding: 10px;
    text-align: center;
}

.nav-menu li a {
    font-family: 'Comic Sans MS', sans-serif; 
    font-size: 24px;
    color: #333; 
    text-decoration: none;
    background-color: #00bfff; 
    padding: 10px 20px;
    border-radius: 15px;
    transition: background-color 0.3s ease;
}

.nav-menu li a:hover {
    background-color: var(--buttonColorGreen); 
}

.nav-menu.open {
    left: 20px;  /*Se despliega el menú */
    z-index: 1000; 
    opacity: 1;
    
}

.nav-menu.open li {
    animation: slide-in 0.5s ease forwards;
    animation-delay: calc(0.1s * var(--i)); /* Cada ítem aparece con un retraso */
}

.buy-button button {
    margin-right: 85px;
    background-color: var(--buttonColorGreen);
    color: var(--fontColorWhite);
    width: 207px;
    border: solid 8px var(--white);
    padding: 14px 0;
    border-radius: 9999px;
    font-weight: 900;
    font-size: 20px;
    font-family: "Lato", serif;
    font-style: normal;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 4px 5px var(--shadowColorBlue);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.buy-button button:hover {
    animation: hover-effect 0.5s ease-in-out;
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    }

    
    
@keyframes hover-effect {
    0% {
        transform: scale(1);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        background-color: var(--buttonColorGreen);
    }
    50% {
        transform: scale(1.15);
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
        background-color: #A3D97C; 
    }
    100% {
        transform: scale(1.1);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
        background-color: var(--buttonColorGreen);
    }
}

@keyframes slide-in {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
