.carousel-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: var(--secondaryColorDark75);
    margin-top: 25px;
    margin-bottom: 25px;
}

.carousel-container h3 {
    color: var(--highLight);
    margin-top: 10px;
    position: absolute;
    z-index: 3;
}

.carousel-card-container{
    width: 1400px;
    overflow: hidden;
}

.carousel {
    margin-top: 5px;
    height: 380px;
    display: flex;
    width: max-content;
    align-items: center;
}

.arrow-left,
.arrow-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    width: 50px;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    transition: color 0.3s ease;
}

.arrow-left {
    margin-right: 10px;
}

.arrow-right {
    margin-left: 10px;
}

.arrow-left::before,
.arrow-right::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 0;
    background-color: var(--secondaryColorDark75);
    transition: height 0.3s ease, top 0.3s ease;
    z-index: -1;
}

.arrow-left:hover::before,
.arrow-right:hover::before {
    height: 100%;
    top: 0;
}

.arrow-left:hover,
.arrow-right:hover {
    color: var(--white);
}

.arrow-left img,
.arrow-right img,
.arrow-left i,
.arrow-right i {
    position: relative;
    z-index: 1;
}

@media (max-width: 600px) {
    .carousel {
        height: 240px;
    }

    .carousel-container {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .carousel-card-container h3 {
        font-size: 12px;
        margin-left: 10px;
    }

    .carousel-card-container {
        height: 230px;
        width: 100%;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .arrow-left,
    .arrow-right {
        display: none;
    }
}

